alice/makefile_defs.mk
**/logfiles/**
**/install/**
**/CMakeFiles/**
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/makefile
**/*.o
**/old**#
*~
**/*.diff
**.orig
**.rej
**/*.a
**/.DS_Store
**.vscode
**/build
**/model_output
**/model_output/**
.directory
.push_default
**/*.diff
**/*.rej
**/*.a
**/.DS_Store
**/*.vscode
